/*
Theme Name: Twenty Twenty-Five Child
Template: twentytwentyfive
*/

/* Global settings */
:root {
    --primaryBlue: #0A3A76;
    --secondaryBlue: #416CAA;
    --tertiaryBlue: #194D9A;
    --headingLineColor: #c2c2c2;
    --globalClamp: 1vw;
}

body {
    min-width: 320px;
    max-width: 1600px;
    margin: 0px auto;
    background-color: white;
}

h3 {
    font-size: clamp(19px, var(--globalClamp), 23px);
    color: white;
    font-weight: bold;
    margin: 12px 0px;
}

/* p {
    font-size: clamp(16px, var(--globalClamp), 20px);
} */

.paragraphCenter {
    text-align: center;
}

a.pageLink {
    color: var(--secondaryBlue);
}

a.pageLink::after {
    content: ">";
    font-weight: bold;
}

div.e-con-full.e-flex.flexRow {
    display: flex;
    flex-direction: row;
}


/* Header */
header {
    position: sticky;
    top: 0px;
    padding: 0px 18px 0px 18px;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid rgb(227, 227, 227);
}

#siteLogo {
    display: flex;
    gap: 7px;
    text-decoration: none;
}

#siteLogo h1 {
    font-size: clamp(26px, var(--globalClamp), 31px);
    border-bottom: 1px solid black;
    border-color: var(--primaryBlue);
    line-height: 1.1;
    margin: 0px;
    letter-spacing: 2px;
}

#siteLogo h1 span:nth-child(1) {
    color: var(--primaryBlue);
    font-weight: bold;
}

#siteLogo h1 span:nth-child(2) {
    color: var(--secondaryBlue);
}

#siteLogo svg {
    width: clamp(25px, var(--globalClamp), 30px);
}


/* Homepage */
.headingLine {
    flex-grow: 1;
    height: 1px;
    background-color: var(--headingLineColor);
}

h2.headingTitle {
    font-size: clamp(23px, var(--globalClamp), 29px);
    font-weight: bold;
    color: var(--primaryBlue);
}

/* Homepage services */
#servicesSectionHome .servicesStack,
#sectorsSectionHome .sectorsStack {
    width: clamp(210px, var(--globalClamp), 255px);
}

#servicesSectionHome svg {
    width: clamp(40px, var(--globalClamp), 50px);
    color: white;
}

#servicesSectionHome p {
    color: white;
}

#servicesSectionHome hr {
    width: 100%;
}

/* Homepage sectors */
#sectorsSectionHome img {
    width: 100%;
}

#sectorsSectionHome button.sectorBox {
    padding: 0px;
    border: 1px solid var(--tertiaryBlue);
    background-color: var(--tertiaryBlue);
}

.sectorsStack button:focus {
    outline: none;
}

.sectorsStack button:focus-visible {
    outline: 2px solid rgb(71, 71, 71);
}

div.modalSector button {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--primaryBlue);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 0px 0px 0px;
}

div.modalSector img {
    border-radius: 10px;
    border: 1px solid rgb(114, 114, 114);
}

div.modalSector h3 {
    text-align: center;
    font-size: clamp(22px, var(--globalClamp), 26px);
    letter-spacing: 1px;
    margin: 12px 0px 25px 0px;
    color: var(--primaryBlue);
}

div.modalSector h2 {
    font-size: clamp(19px, var(--globalClamp), 23px);
    font-weight: bold;
    margin: 0px;
}

div.modalSector h2:nth-of-type(2) {
    margin-top: 25px;
}

div.modalSector p {
    text-align: left;
    font-size: clamp(15px, var(--globalClamp), 19px);
    color: rgb(47, 47, 47);
    margin: 0px;
}

div.modalSector ul {
    margin: 5px 0px 0px 0px;
    font-size: clamp(15px, var(--globalClamp), 19px);
}

div.modalSector {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    background-color: #cde1ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 20px;
    z-index: 2;
    width: 72%;
    max-width: 600px;
    border-radius: 10px;
}

div.modalSector.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

div#modalOverlay {
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

/* Homepage certifications */
#certificationsSectionHome img {
    width: clamp(80px, var(--globalClamp), 100px);
}

#disclaimerCertifications {
    font-size: clamp(13px, var(--globalClamp), 15px);
    color: rgb(104, 104, 104);
    margin: 0px;
}

/* Homepage numbers */
.boxNumbersStack {
    width: clamp(190px, var(--globalClamp), 220px);
    background-color: #EFF0F3;
    padding: 12px;
}

.boxNumbersStack p {
    line-height: 1.2;
}

.boxNumbersStack p:nth-child(1) {
    color: var(--primaryBlue);
    font-size: clamp(36px, var(--globalClamp), 38px);
    font-weight: bold;
}

/* Homepage know more */
#contactUsLinkHome {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg,
            var(--tertiaryBlue) 0%,
            rgb(16, 77, 163) 50%,
            var(--tertiaryBlue) 99%);
}


/* Posts */
.myHomeQueryLoop {
    margin-top: 17px;
    padding: 0px 20px;
}

.myPostQueryLoop {
    margin-top: 0px;
}

ul.allPosts li {
    padding-top: 20px;
}

ul.allPosts li:first-child {
    padding-top: 10px;
}

.myHomeQueryLoop ul li:not(:first-child) {
    margin-top: 7rem;
}

.h2TitlePost {
    margin-top: 5px;
    margin-bottom: 4px;
}

.myExcerpt {
    margin: 22px 0px 0px 0px;
}

.myExcerpt p:nth-child(1) {
    font-style: italic;
}

.myExcerpt p:nth-child(2) {
    margin-top: 2px;
    color: var(--secondaryBlue);
}

div.postDate {
    margin-top: 7px;
}

div.postDate time {
    font-size: clamp(14px, var(--globalClamp), 16px);
}

figure.wp-block-post-featured-image {
    margin-top: 45px;
}

figure.wp-block-post-featured-image img {
    border: 2px solid var(--primaryBlue);
}

figure.featuredImageHome {
    margin-top: 0px;
    margin-bottom: 5px;
}

figure.featuredImageHome img {
    border: 2px solid var(--primaryBlue);
    max-width: 500px;
}


/* Who we are page */
/* Hero */
section#heroWho {
    position: relative;
}

section#heroWho::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 1;
    background: linear-gradient(90deg,
            rgba(22, 77, 171, 0.65) 0%,
            rgba(105, 138, 184, 0.3) 50%,
            rgba(22, 77, 171, 0.65) 100%);
}

div#h1HeroWho {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* History */
div.paragraphNoMargin p {
    margin: 0px
}

/* Our values */
svg.value {
    width: 100%;
    max-width: 100px;
}

/* Our team */
div.lineHeight p {
    line-height: 1.3;
}

/* Our mission */
section#ourMission {
    background: linear-gradient(90deg,
            rgba(54, 92, 145, 1) 0%,
            rgba(39, 62, 105, 1) 50%,
            rgba(54, 92, 145, 1) 100%);
}


/* Quality page */
/* Hero */
.h2Underline {
    width: fit-content;
}

.h2Underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #8bb5d8;
    margin-top: 6px;
}

div.gradientBlue {
    background: linear-gradient(90deg,
            rgba(23, 55, 117, 1) 0%,
            rgba(35, 95, 173, 1) 40%,
            rgba(255, 255, 255, 1) 100%);
}

/* Quality main */
svg.standard {
    width: 100%;
    max-width: 60px;
}

svg.security {
    width: 18px;
}

section#contactQuality h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #8bb5d8;
    margin-top: 6px;
}

#contactButtonQuality {
    display: block;
    width: fit-content;
    margin: 0px auto;
    padding: 10px 30px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg,
            var(--tertiaryBlue) 0%,
            rgb(16, 77, 163) 50%,
            var(--tertiaryBlue) 99%);
}

/* Services page */
/* Main */
#produzione,
#ricerca-e-sviluppo,
#confezionemento {
    scroll-margin-top: 40px;
}

div.servicesList ul {
    margin: 0px;
}

div.servicesList ul li:not(:first-child) {
    margin-top: 5px;
}

svg.services {
    width: 23px;
    height: 23px;
}

svg#boxServices {
    width: 28px;
    height: 23px;
}


/* Contacts page  */
svg.contacts {
    display: block;
    width: 35px;
}

svg.linkedin {
    display: block;
    width: 50px;
    height: 50px;
}

a#followLinkedin {
    background-color: transparent;
    color: var(--tertiaryBlue);
    font-weight: bolder;
    padding: 0px;
}

/* Form contacts */
div#formContacts form input[type="text"],
div#formContacts form input[type="email"],
div#formContacts form textarea {
    width: 100%;
    padding: 11px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

div#formContacts form input[type="text"]::placeholder,
div#formContacts form input[type="email"]::placeholder,
div#formContacts form textarea::placeholder {
    color: rgb(187, 187, 187);
}

div#formContacts form textarea {
    resize: vertical;
    max-height: 430px;
    min-height: 70px;
}

div#formContacts form p {
    margin: 23px 0px;
}

div#formContacts p:nth-of-type(5) {
    margin-bottom: 0px;
}

div#formContacts p:nth-of-type(6) {
    margin-top: 60px;
}

div#formContacts form p:last-of-type {
    position: relative;
    margin-bottom: 0px;
}

div#formContacts form span.wpcf7-spinner {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
}

div#formContacts .wpcf7-response-output {
    margin-top: 18px;
}

div#formContacts .wpcf7-not-valid-tip {
    margin-top: 3px;
}

div#formContacts input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin: 3px 4px 3px 0px;
}

div#formContacts .wpcf7-list-item-label a {
    color: var(--tertiaryBlue);
    font-weight: bolder;
}

div#formContacts .wpcf7-list-item {
    margin: 0px;
}

div#formContacts form input[type="submit"] {
    display: block;
    margin: 0px auto;
    background-color: #1b66b1;
    color: white;
    padding: 10px 60px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
}


/* Responsiveness */
@media (max-width: 1199px) {
    .desktopOnlyHeading {
        display: none;
    }
}

@media (max-width: 1280px) {
    body div.flexServices.flexServices2 {
        flex-direction: column-reverse;
        align-self: center;
    }

    body div.flexServices.flexServices2 div:nth-child(1),
    body div.flexServices.flexServices2 div:nth-child(2) {
        width: 100%;
    }

    body div.flexServices.flexServices2 div:nth-child(1) img {
        max-width: 580px;
    }
}