/*
Theme Name: Twenty Twenty-Five Child
Template: twentytwentyfive
*/

:root {
    --primaryGreen: #005957;
    --globalClamp: 1.5vw;
}

/* Header */
header {
    position: sticky;
    top: 0px;
    padding: 0px 18px 0px 18px;
    background-color: rgb(246, 246, 246);
    z-index: 1;
}

#siteLogo {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
}

#siteLogo h1 {
    font-size: clamp(23px, var(--globalClamp), 28px);
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-color: var(--primaryGreen);
    line-height: 1.2;
    color: var(--primaryGreen);
    margin: 0px;
    letter-spacing: 2px;
}

#siteLogo svg {
    width: 25px; 
}